body{
   background: #848484
}

table {
    border-color: #1a75ff;
	margin: auto;
	margin-top: 2%;
    border-collapse: collapse;
    width: 50%;
    background-color: white;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

.container {
    padding: 5px;
    margin: auto;
    text-align: center
}

.error{
    text-align: center;
    color: red;
    font-size: 150%;
    font-weight: bold;
}