<!doctype html>
<html ng-app="app">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/createbroadcastStyle.css">
    <script src="app.js"></script>
  </head>
  <body>
    <div ng-include = "'static/navbar.html'"></div>
    <div class="container" ng-controller="broadcastController">
     
    <form name="data_provider">
      <div id="broadcast">
        <h3> Broadcast Data</h3>
        Title
        <input type="text" name="title" ng-model="dataBroadcast.broadcast_title">
        <br>
        Init time
        <input type="datetime-local" name="initime" ng-model="dataBroadcast.start_time">
         <br>
        
         Final time
        <input type="datetime-local" name="finaltime"  ng-model="dataBroadcast.end_time" >
         <br><br>
       </div>

      <div id="stream">
        
        <h3> Stream Data</h3> 
        
        Format
        <select name="format" ng-model="dataBroadcast.format">
          <option>1080p</option>
          <option>720p</option>
          <option>480p</option>
          <option>360p</option>
          <option>240p</option>
        </select> <br><br>
        <input type="submit" value="Create" ng-click="sendBroadcast()">
  </form>

  </div>
       <p>
          {{msg}}
        </p>
    </div>
  </body>
</html>